<footer style="background-color: #e3f2fd; display: block;">
  <div class="container p-md-3 p-1">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" src="imgs/logo_text_white_small.png" alt="">
        <p>
          Parkinson Disease Detection Center Platform is for anyone and everyone ...<a href="#">Read
            more...</a>
        </p>
        <a style="color:silver;" class="p-1" href="#"><i class="fab fa-2x fa-facebook-square"></i></a>
        <a style="color: silver;" class="p-1" href="#"><i class="fab fa-2x fa-google-plus-square"></i></a>
        <a style="color: silver;" class="p-1" href="#"><i class="fab fa-2x fa-twitter-square"></i></a>
        <a style="color: silver;" class="p-1" href="#"><i class="fab fa-2x fa-instagram"></i></a>
      </div>

      <div class="col-md-6 ">
        <h5>Contact Us</h5>
        <a href="#"><i class="fas fa-phone"></i> +(91) 9879123720 </a><br>
        <a href="gmail.com  "><i class="fas fa-envelope"></i> project@gmail.com </a><br>
      </div>
    </div>
  </div>
  <hr />
  <div class="container-fluid  pt-2">
    <div class="row">
      <div class="col-12 text-center">
        <p>Copyrights © 2020 - All rights reserved</p>
      </div>
    </div>
  </div>

</footer>