{% extends 'layout.html' %}

{% block body %}
<br>
<section class="breadcrumbs-section">
  <div class="container p-1 p-sm-3">
    <div class="row">
      <div class="col-12">
        <h2>About Us</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">About Us</li>
        </ol>
      </div>
    </div>
  </div>

</section>


<section class="about-company-section">
  <div class="container p-1 p-sm-3">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Objective</h2>
        <hr />
      </div>

      <div class="col-md-3">
        <img class="img-fluid" src="../templates/imgs/logo/QWERTY.jpg" alt="logo">

      </div>

      <div class="col-md-9">
        <p>
          The goal must be to diagnose and treat PD well before the irreversible destructive changes have taken place,
          ideally at least 5 years earlier than is currently the case. In addition, because the most severe symptoms
          occur in the advanced stages of the disease, strategies aimed at early detection and treatment will have the
          most benefit.
        </p>
        <p>
          There is a need for a more accurate, objective means of early detection, ideally one which can be used by
          individuals in their home setting
        </p>
        <p>
          Keystroke dynamic features can be extracted using the timing information of the key press and release events.
          The hold time of individual keys and the latency between keys (the time interval between pressing one key and
          a succeeding key) are typically exploited
        </p>

      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row mt-4">
    <div class="col text-center">
      <h3>
        Our awesome team
      </h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-fluid qualities-img p-4" src="../templates/imgs/team/CEO.png">
      <h5>
        1st Partner
      </h5>
      <p>
        <i>- Jenil Bhavsar</i>
      </p>

    </div>
    <div class="col-md-4 text-center">
      <img class="img-fluid qualities-img p-4" src="../templates/imgs/team/java-developer.png">
      <h5>
        2nd Partner
      </h5>
      <p>
        <i>- Chitvan Bhatt</i>
      </p>

    </div>
    <div class="col-md-4 text-center">

      <img class="img-fluid qualities-img p-4" src="../templates/imgs/team/sales-head.png">
      <h5>
        3rd partner
      </h5>
      <p>
        <i>- Axat Patel</i>
      </p>
    </div>
  </div>
</div>

{% endblock %}