{% extends 'layout.html' %}

{% block body %}
<br>

<section class="breadcrumbs-section">
  <div class="container p-1 p-sm-3">
    <div class="row">
      <div class="col-12">
        <h2>Contact Us</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Contact Us</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>We are always here to help. If your have requirements/queries about our services; fill up the contact form
          below and we'll do our best to reply within 24 hours Alternatively simply pickup the phone and give us a call.
        </p>
        <hr />
      </div>
    </div>
  </div>
</section>

<section class="form-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form action="">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" placeholder="Full name *">

            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" placeholder="Email Address *">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="number" class="form-control" placeholder="Contact Number *">

            </div>
            <div class="form-group col-md-6">
              <select class="form-control" name="" id="">
                <option selected>Country</option>
                <option>India</option>
                <option>America</option>
                <option>England</option>
                <option>China</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <input type="text" class="form-control" placeholder="Subject *">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12 text-center">
              <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i>Send Message</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h5>Call Us / WhatsApp</h5>
        <p><a href="tel:+919090909090"><i class="fas fa-phone"></i> +(91) 9090909090 </a><br>
        </p>
        <h5>Email / Website</h5>
        <p>
          <a href="#"><i class="fas fa-envelope"></i> project@gmail.com</a><br>
          <a href="#"><i class="fas fa-globe"></i></i> www.project.tech </a>

        </p>
        <h5>Working hours</h5>
        <p>
          Mon - Fri : 9am - 6pm(IST)
        </p>
        <h5>Address</h5>
        <p>
          King estate, Shree Raj, station - west, Anand - 388110, Gujarat
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="containe-fluid">
    <!-- <iframe class="embed-responsive-item" src="..."></iframe> -->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58956.926027253314!2d72.90971452938443!3d22.54886860978679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e4e7efd0c8885%3A0xa9a0b93c0c4b5215!2sAnand%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1585920808269!5m2!1sen!2sin"
      width="100%" height="300px" frameborder="0" style="border:0"></iframe>
  </div>
</section>



{% endblock %}